* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* makes the background color of the body of the site white */
body {
    background-color: #d9dcd6;
}

/* specifies how much space between the header and the edge of the box, also indicating the font,
backgrounf color of the header box, and the color of the text*/
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* showing where and what color the h1 header is */
.header h1 {
    display: inline-block;
    font-size: 48px;
}

/*indicates text color*/
.header h1 .seo {
    color: #d9dcd6;
}

/* indicates the positioning, font, and color of the links in the header*/
.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.header div ul {
    list-style-type: none;
}

/* style and distance from the left margin*/
.header div ul li {
    display: inline-block;
    margin-left: 25px;
}

/* indicates the links in the header will be white*/
a {
    color: #ffffff;
    text-decoration: none;
}

/* indicates all text with the p tag will be 16px */
p {
    font-size: 16px;
}

.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("digital-marketing-meeting.png");
    background-size: cover;
}

/* indicates position of all objects designated to float left */
.float-left {
    float: left;
    margin-right: 25px;
}

/* indicates position of all objects designated to float right */
.float-right {
    float: right;
    margin-left: 25px;
}

/* indicates size and style of the blocks from div class content */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* indicates the position and style of the div class benefits */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* Three sections below show the syling of the lead gen portion of the right information block */
.benefit-lead {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-lead h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-lead img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* Three sections below show the syling of the brand awareness portion of the right information block */
.benefit-brand {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-brand h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-brand img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* Three sections below show the syling of the cost management portion of the right information block */
.benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}


/* Three sections below show the syling of the Search Engine Optimization information block */
.search-engine-optimization {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.search-engine-optimization img {
    max-height: 200px;
}

.search-engine-optimization h2 {
    margin-bottom: 20px;
    font-size: 36px;
}


/* Three sections below show the syling of the Online Repuation Management information block */
.online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.online-reputation-management img {
    max-height: 200px;
}

.online-reputation-management h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* Three sections below show the syling of the Social Media Marketing information block */
.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.social-media-marketing img {
    max-height: 200px;
}

.social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* Gives the positioning and style for the information found at the very bottom of the page in the footer */
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}
